@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#e84242;
    --black-color:#0e0e0e;
    --border:0.1rem solid rgba(255,255,255,0.4)
}


body{
    background-color: #cccaca;
}
section{
    padding:3.5rem 7%;
}
.d-none{
    display: none !important;;
}
.btn-for-delete{
    margin-left:  70% !important;;
}
.table td,.tabel th{
    vertical-align:baseline !important;
}