/* mediaquery start */
@media only screen and (max-width:992px){
    html{
        font-size:55%;
    }
    #header{
        padding:1.4rem 1.8rem;
    }
    #header .logo img{
        height: 6rem;
    }
    section{
        padding: 2rem;
    }

    #menu .box-container .box{
        width: 45%;
    }
    #products .box-container .box{
        width: 40%;
        margin:2rem;
    }
    #about .row .image{
        width: 100%;
    }
  
   #about .row .content{
    margin-top:2rem;
    width:100%;
   }
   #review .box-container .box {

    width: 45%;
    margin-top:2rem;
   }
   #review .box-container .box .quote{
    display: none;
   }
   #contact .row .map{
    width: 100%;
   height: 40vh;
   }
   #contact .row form{
    width: 100%;
   }

   #blog .box-container .box{ 
    width: 45%;
    margin-top: 2rem;
   }
}
@media only screen and (max-width:768px){
#menu-btn{
    display: inline-block;
}
#header .navbar{
    display: none;
}
    #menu .box-container .box{
        width: 100%;
        margin:2rem;
    }
    #products .box-container .box{
        width: 100%;
    }
    #review .box-container .box{
        width: 100%;
        margin:2rem 6rem;
    }
    #blog .box-container .box{
        width: 100%;
    }
    #header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding:0.5rem;
        font-size:2rem;
    }
   

}
/* mediaquery end */